(
    descriptions: {
        "IsEmpty": "Gain {points} point(s) for each empty target cell.",
        "MatchesColor(X)": "Gain {points} point(s) for each {X} target cell.",
        "NoColorOnBoard(X)": "Gain {points} point(s) if there are no other {X} pieces on the board.",
        "MatchesSize(X)": "Gain {points} point(s) for each target cell occupied by a {X}-cell piece.",
    }
)